table,th,td{
  border: 1px solid;
  text-align:left;
  width: 700px;
  margin: auto;
}

thead, tr, th{
  text-align:center;

}

th,td{
  padding:10px;
  font-size:20px;
}

caption{
  font-size:20px;
  color:black;
}
